.logo a{
    background-image: url('../images/logo.svg');
    width: 85px;
    height: 18px;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    @include media-breakpoint-up(lg){
        width: 190px;
        height: 40px;
    }
}
.form-control{
    width: 288px;
}

.border-lg-bottom-0{
    @include media-breakpoint-up(lg){
    border-bottom:0px !important ;
    }
}
.nav-link:hover{
    color: $primary !important;
}