.logo a{
    background-image: url('../images/logo.svg');
    width: 85px;
    height: 18px;
    background-size: cover;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}