
.explore{
    
    &-img{
        position: relative;
        img{
        width: 258px;
        height: 254px;  
        }
        
        &:hover{
            .img-hover{
                display: block;
         } 
    }
   .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    opacity: 0.5;
    } 
}
   
}