<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid container-lg px-lg-0 ">
        <h1 class="logo mb-0 flex-grow-1">
          <a href="#">ART NFT</a>
        </h1>
        <div class="d-flex ">
            <form class="d-flex align-items-center" role="search">
              <input type="search" placeholder="搜尋作品名稱、藝術家名稱" aria-label="Search" class="d-none d-lg-block form-control bg-transparent ">
              <i class="fa-solid fa-magnifying-glass ms-4 me-2"></i>
            </form>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
        </div>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class=" navbar-nav me-auto mb-2 mb-lg-0 align-items-center text-center">
              <div class="container d-lg-flex align-items-lg-center">
              <li class="nav-item border-bottom">
                <a class="nav-link active fw-bold fs-5 fs-lg-6 py-4" aria-current="page" href="#">探索</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-bold fs-5 fs-lg-6 py-4" href="#">市值</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active py-0" aria-current="page" href="#">
                  <button type="button" class="btn btn-primary d-lg-none border py-2 w-100">連結錢包</button>
                  <i class="fa-solid fa-wallet d-none d-lg-block"></i>
                </a>
              </li>
            </div>
            </ul>
          </div>
          
      </div>
    </nav>

    <%- contents %>

    <footer class="footer bg-light">
      <p class="text-center py-4">© ART NFT. All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>