img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn-triangle {
    position: relative;
    &:after{
        content:'';
        position:absolute;
        right: 0;
        bottom:0;
        border-left: 16px solid transparent;
        border-bottom: 16px solid $primary;
    }
    &:hover::after{
        border-bottom: 16px solid black;
    }
}
.btn-border{
    background-color: $primary;
    color:white;
    border: 1px solid black;
}
.btn-white{
    background-color: white;
    border:1px solid black;
    &:hover{
    background-color: #E6553B;
    color: white;
  }
}
.btn-title-more{
    margin-bottom: -18px;
}

.border-StoE{
        border-left: 1px solid black;
        border-right: 1px solid black;
}
.border-lg-StoE{
    @include media-breakpoint-up(lg){
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}